// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #a8836b;
  --ion-color-primary-rgb: 168, 131, 107;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #93725d;
  --ion-color-primary-tint: #b79278;
}